<div class="row">
	<div class="col-md-12">
<form novalidate class="simple-form">
	*Bill Number: <input type="text" ng-readonly="vm.readonlyBillNumber" ng-model="vm.receipt_to_add.bill_number" />
	*Bill Date: <input type="text" ng-model="vm.receipt_to_add.bill_date" />
	*B17 Debit: <input type="text" ng-model="vm.receipt_to_add.b17_debit" />
	*Description: <input type="text" ng-model="vm.receipt_to_add.description" /><br/><p></p>
	Invoice No: <input type="text" ng-model="vm.receipt_to_add.invoice_no" />
	Invoice Date: <input type="text" ng-model="vm.receipt_to_add.invoice_date" /><br /><p></p>
	Procurement Certificate: <input type="text" ng-model="vm.receipt_to_add.procurement_certificate" />
	Procurement Date: <input type="text" ng-model="vm.receipt_to_add.procurement_date" /><br /><p></p>
	Unit Weight: <input type="text" ng-model="vm.receipt_to_add.unit_weight" />
	Unit Quantity: <input type="text" ng-model="vm.receipt_to_add.unit_quantity" />
	*Value: <input type="text" ng-model="vm.receipt_to_add.value" />
	*Duty: <input type="text" ng-model="vm.receipt_to_add.duty" /><br/><p></p>
	Transport Registration: <input type="text" ng-model="vm.receipt_to_add.transport_registration" />
	Receipt Timestamp: <input type="text" ng-model="vm.receipt_to_add.receipt_timestamp" /><br /><p></p>
	*Balance Quantity: <input type="text" ng-model="vm.receipt_to_add.balance_quantity" />
	*Balance Value: <input type="text" ng-model="vm.receipt_to_add.balance_value" /><br /><p></p>
	<input type="button" ng-click="vm.resetAddEditWindow()" value="Reset" />
	<input type="submit" ng-click="vm.update(vm.receipt_to_add)" value="{{ vm.addUpdateAction }}" />
</form>

<!-- Receipt Retrieval      ====================================== -->
<hr>
	<h3>Created / Updated Receipt :</h3>
	<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr style="font-weight:bold" align="center">
				<td></td>
				<td>	Bill Number	</td>
				<td>	Bill Date	</td>
				<td>	Description	</td>
				<td>	Unit Quantity	</td>
				<td>	Unit Weight	</td>
				<td>	Value	</td>
				<td>	Duty	</td>
				<td>	Balance Quantity	</td>
				<td>	Balance Value	</td>
				<td>	B17 Debit	</td>
				<td>	Invoice Date	</td>
				<td>	Invoice No	</td>
				<td>	Procurement Certificate	</td>
				<td>	Procurement Date	</td>
				<td>	Transport Registration	</td>
				<td>	Receipt Timestamp	</td>
			</tr>
		
		</thead>
		<tbody>
		<tr>
		<td>
			<button type="button" class="btn btn-default" ng-click="vm.prepareForEdit(vm.retrieved.receipt)">Edit</button>
		</td>
		<td>	{{ vm.retrieved.receipt.bill_number }}	</td>
		<td>	{{  vm.retrieved.receipt.bill_date }}	</td>
		<td>	{{  vm.retrieved.receipt.description }}	</td>
		<td>	{{  vm.retrieved.receipt.unit_quantity }}	</td>
		<td>	{{  vm.retrieved.receipt.unit_weight }}	</td>
		<td>	{{  vm.retrieved.receipt.value }}	</td>
		<td>	{{  vm.retrieved.receipt.duty }}	</td>
		<td>	{{  vm.retrieved.receipt.balance_quantity }}	</td>
		<td>	{{  vm.retrieved.receipt.balance_value }}	</td>
		<td>	{{  vm.retrieved.receipt.b17_debit }}	</td>
		<td>	{{  vm.retrieved.receipt.invoice_date }}	</td>
		<td>	{{  vm.retrieved.receipt.invoice_no }}	</td>
		<td>	{{  vm.retrieved.receipt.procurement_certificate }}	</td>
		<td>	{{  vm.retrieved.receipt.procurement_date }}	</td>
		<td>	{{  vm.retrieved.receipt.transport_registration }}	</td>
		<td>	{{  vm.retrieved.receipt.receipt_timestamp }}	</td>
		</tr>
		</tbody>
	</table>
	</div>

</div>
</div>
