<div class="row">
	<div class="col-md-4">
		<h2>My Organization</h2>

		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr style="font-weight:bold" align="center">
					<td>Id</td>
					<td>	Name	</td>
					<td>	Address	</td>
					<td>	Tax Registration	</td>
					<td>	Tax Commissioner	</td>
					<td>	Status	</td>
					<td>	Role	</td>
				</tr>
			</thead>
			<tbody>
				<tr align="center">
					<td>{{  vm.myorganization.organization.id }}</td>
					<td>	{{  vm.myorganization.organization.name}}	</td>
					<td>	{{  vm.myorganization.organization.address }}	</td>
					<td>	{{  vm.myorganization.organization.tax_registration }}	</td>
					<td>	{{  vm.myorganization.organization.tax_commissionar }}	</td>
					<td>	{{  vm.myorganization.status }}	</td>
					<td>	{{  vm.myorganization.isadmin }}	</td>
				</tr>
			</tbody>
		</table>
		
		<div ng-if="vm.myorganization.isadmin == 1">
			<button class="btn btn-primary" ng-click="vm.editOrganization()">Edit Organization</button>
		</div>

	</div>

	<div class="col-md-4" >
		<h2>Request Organization Membership</h2>
		<div class="input-group">
			<input type="number" title="name" class="form-control" ng-model="orgid" placeholder="name" ng-minlength=1 ng-maxlength=255>
			<button class="btn btn-primary" ng-click="vm.RequestMembership(orgid)">Request Membership</button>
		</div>
		<!-- /input-group -->
	</div>
</div>
